
    <div id="addsub-cont" class="pt-5 hide" style="position: fixed;width: 100vw;height: 100vh;z-index: 2;background-color: rgba(0, 0, 0, 0.2);">
        <div class="container-fuild">
            <div class="row">
                <div class="col-sm-5 my-3 mx-auto">
                    <div class="shadow rounded py-5 px-5" style="background-color: white;position: relative;">
                        <button id="clsbtn" type="button" class="btn-close" aria-label="Close" style="position: absolute;top: 1rem;right: 1rem;"></button>
                        <br>
                        <form action="">
                            <label class="pb-3" for="addsub"><h6>Enter name of subject or course code</h6></label>
                            <input id="addsub" class="form-control mb-4" type="text">
                            <button class="btn btn-primary btn-sm float-end" type="submit">Add Subject</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
